<!DOCTYPE html>
<html lang="es">

<head>
    <%- include(`./partials/head`) %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <header>
        <%- include('./partials/header') %>
</header>
<div><h1>Hola beinvenido a el desafio final parte 3</h1></div>

</body>


</html>